<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSCameraUsageDescription</key>
    <string>Checkpoint uses the camera to scan your odometer for quick mileage updates.</string>
    <key>UIAppFonts</key>
    <array>
        <string>Barlow-Light.ttf</string>
        <string>Barlow-Regular.ttf</string>
        <string>Barlow-SemiBold.ttf</string>
    </array>
    <key>CFBundleIcons</key>
    <dict>
        <key>CFBundlePrimaryIcon</key>
        <dict>
            <key>CFBundleIconFiles</key>
            <array>
                <string>AppIcon</string>
            </array>
        </dict>
        <key>CFBundleAlternateIcons</key>
        <dict>
            <key>AppIcon-Advisory</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>AppIcon-Advisory</string>
                </array>
            </dict>
            <key>AppIcon-Critical</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>AppIcon-Critical</string>
                </array>
            </dict>
        </dict>
    </dict>
</dict>
</plist>
