<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Barlow-Light.ttf</string>
		<string>Barlow-Regular.ttf</string>
		<string>Barlow-SemiBold.ttf</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon</string>
			</array>
		</dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AppIcon-Advisory</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Advisory</string>
				</array>
			</dict>
			<key>AppIcon-Critical</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Critical</string>
				</array>
			</dict>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
